body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0f;
  color: white;
}

/* HEADER */
.topbar {
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo h1 {
  font-size: 18px;
  margin: 0;
}

.logo p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.icon {
  background: #6c5ce7;
  padding: 10px;
  border-radius: 50%;
}

.status {
  font-size: 12px;
  color: gray;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.blue { background: cyan; }
.green { background: lime; }


/* CHAT AREA */
.chat-area {
  height: 80vh;
  overflow-y: auto;
  padding: 20px;
}

/* MESSAGE */
.msg {
  max-width: 70%;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  position: relative;
}

.msg.user {
  margin-left: auto;
  background: #5a4bff;
  color: white;
}

.msg.bot {
  background: #1c1c1c;
  border: 1px solid #333;
}

.msg .tamil {
  color: gold;
  margin: 0;
}

.msg .eng {
  color: hotpink;
  margin: 5px 0 0;
}

.time {
  font-size: 10px;
  color: gray;
  position: absolute;
  bottom: -15px;
  right: 10px;
}


/* INPUT BAR */
.input-bar {
  display: flex;
  padding: 15px;
  background: #111;
}

.input-bar input {
  flex: 1;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #222;
  color: white;
}

.input-bar button {
  margin-left: 10px;
  padding: 12px 18px;
  border: none;
  border-radius: 50%;
  background: #5a4bff;
  color: white;
  cursor: pointer;
}
